@page "/fetchdata"

@using website.Data
@inject BeersService Svc

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (beers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var beer in beers)
            {
                <tr>
                    <td>@beer.Name</td>
                    <td>@beer.Brand</td>
                    @if (beer.IsPremium) {
                        <td><img src="~/img/star.png" /></td>
                    }
                    else {
                        <td> </td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Beer> beers;

    protected override async Task OnInitializedAsync()
    {
        beers = await Svc.GetBeers();
    }
}
